<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Play it Again! Use it Together</h1>
  <h2>Open Music Archive feat. 51 architecture</h2>
  <h3>
    Victoria Gallery and Museum Liverpool<br/>
    14th September - 24th November 2018
  </h3>
  <br>
  <button class="homebutton" (click)="downloadCurrentSoundObjects()"><img src="assets/download.png"></button>
  <br>
  Download Sounds
  <br>
  <!--<br>
  <a href="/mpc" style="color: rgb(255,255,255)">MPC it!</a>-->
  <br>
  <br>
  Recently Digitised:
  <div *ngFor="let r of recordings">
    {{ r.artist }} - {{ r.title }}
  </div>

  <!--
  <p>
  <button (click)="myInfoOpen()">i</button><br/>
  info<br/>
  </p>
-->


  <!--{{performanceInfo}}-->
  <br>
  <!--<textarea disabled style="border:none;resize:none" rows="18" cols="50">{{texture}}</textarea>-->
  <br>

  <!--
  <div class="infobox" id="infobox">

    <div class="textbox">



      <a href="#" onclick="myInfoClose();return false;" style="float:right;">X</a>
      <h3>Play it Again! Use it Together</h3>
      <h3>Open Music Archive feat. 51 architecture</h3>

      <p>Victoria Gallery and Museum Liverpool<br/>
    14th September - 24th November 2018</p>

      <p>Eileen Simpson and Ben White’s project takes as its starting point the Institute of Popular Music (IPM) Archive of over 80,000 records, an exceptional and rich research resource, gifted over a number of years by collectors and enthusiasts.</p>

<p>With a particular focus on copyright-expired hit records from 1920s, 30s, 40s and 50s, the artists temporarily re-house the IPM archive in the public gallery - putting the archive on public view and making its contents available for public use.</p>

<p>The project explores ownership in the archive, investigating what is owned and how it is owned and promotes expanded usership of the archive through replay, live events, digitisation and distribution.</p>

<p>At the centre of the exhibition is a bespoke open source structure for archive digitisation, broadcast and remix performance, designed with 51 architecture. Animated by University of Liverpool students and graduates, the exhibition space is transformed into a production site where out-of-copyright sounds are ripped from archive records, to generate an evolving public resource. This resource is used as material for a series of public events with invited guests and collaborators.</p>

<h3>Credits</h3>

<p>This project is supported by:<br/>
University of Liverpool<br/>
Queen Mary University of London<br/>
FAST IMPACt Project<br/>
Manchester School of Art</p>

<p>Bespoke Isolating Plinth for turntable cast by <a href="https://sculptors.org.uk/artists/anderson-inge" target="_blank">Anderson Inge</a></p>

<p>Arnold Circus Stools kindly provided by <a href="http://martinogamper.com" target="_blank">Martino Gamper</a></p>

<p>Open Code by Florian Thalmann, Thomas Wilmering, Alo Allik and Ben White</p>

<p>Open Typeface and graphic design by <a href="https://www.isminiadami.com/" target="_blank">Ismini Adami</a></p>

<p>Plinth, Transmitter, Baffles, Listening Booth, Mixing Desk and Live Deck designed and made by Catherine du Toit, Peter Thomas, Anderson Inge, Ben White, Daniel Thomas du Toit, Eileen Simpson, Thomas Smethurst and Ben Weeks.</p>

<p>Thanks:<br/>
Foresso, Mark Sandler, Marion Leonard, Mike Jones, the team at VGM, Colin Roberton, Joshua Fawcett, Georgina Hall, Megan McEvoy, George Mulvihill, Joseph Roberts, Gaorui Sun and Tina Wood and all the people that have generously given time to the project.</p>

<p>Curated by <a href="http://roselejeune.com" target="_blank">Rose Lejeune</a></p>

<p><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">(cc) by-sa 4.0</a></p>

    </div>

  </div>-->
</div>

