<div (window:keydown)="keyDown($event)">
  edit<input type="checkbox" [(ngModel)]="isEditing"/>
  <div class="mpc">
	<div class="mpc-button-container" *ngFor="let s of sounds">
	  <div mpc-button>
	  	<button (click)="play(s)"></button>
	  </div>
	  <div *ngIf="isEditing" class="mpc-controller-buttons">
	  	<button class="mpc-random" (click)="random(s)"></button>
	  	<button class="mpc-similar" (click)="similar(s)"></button>
	  	<button class="mpc-globalreplace" (click)="all(s)"></button>
	  </div>
	</div>
  </div>
  <br>
  <br>
  <br>
  <h4 *ngIf="!sounds">...loading...</h4>
</div>